#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
/*만약 버튼을 inpput type="submit"으로 설정했을 시 다음과 같이 설정
  #login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  #login-form input:not ([type="submit"]){
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  }*/
#login-form input:focus {
  border-color: black;
  border-bottom: 2px solid black;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.maintain-login {
  display: flex;
}
.maintain-login {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 550;
}
.maintain-login input {
  color: var(--yellow);
}
.maintain-login label {
  font-size: 13px;
}
.login-form__btn {
  background-color: var(--yellow);
  padding: 15px 0px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.setting-id {
  display: flex;
  margin: 35px 30px;
}
.setting-id a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  opacity: 70%;
  font-weight: 550;
}
.setting-id__column:nth-child(2) {
  margin-left: 45vw;
}
#stick {
  margin: 5px 10px;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
